/*===== Background Color =====*/
.tb-br-scl1,
.btn1,
.topbar1 .tb-br-scl1:before,
.btn1-drk:hover,
.yr-dnt,
.cause-cl-cm,
.news-meta:before,
.newsletter-frm > button,
.widget-title1:after,
.pagination ul li:hover a,
.pagination ul li.active > span,
.fltrs-lst li.selected a:before,
.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.active,
.sidebar-calendar .fc-toolbar,
.sidebar-calendar .fc-month-view .fc-body td div.fc-week td:before,
.event-box-mini > strong,
.sidebar .widget ul li:hover > span,
.offic-info > i,
.tagcloud > a:before,
.share > a:before,
.comment-reply-link,
.progress-bar,
.progress-bar > span,
.progress-bar > span:before,
.thm-bg,
.clndr .fc-view-container table tbody .fc-day.fc-today:before,
.mbr-cnt li i,
.mbr-scil li a:hover,
.dnt-fgr-lst > li a.active:before,
.btn2,
.srch-crt-lst li a span,
.gallery-box:before,
.thm-lyr:before,
.hig-pri-carousel .owl-nav > div,
.brng-sc .select2-container--default .select2-selection--single .select2-selection__arrow,
.storie-box2:hover:before,
blockquote.style2 > i,
.shar-tag2,
.style2 .blg-mta > h1::before,
.blg-mta.style2 > ul:before,
.qun-inpt.style2 .input-group > span button,
ul.countdown.style2 > li,
.ft-scl > li a:hover,
.clndr.style2 .fc-row .fc-content-skeleton td.fc-event-container::before,
nav > div > ul > li ul li::after,
.scl-btns > li a:hover,
.rs-mu-btn:hover,
.rs-mnu-cls-btn:hover,
.rs-mnu > ul li a:before,
.crt-drp-btns > a:hover,
.rviw-tbs > ul > li.active > a,
.rviw-tbs > ul > li.active > a:focus,
.rviw-tbs > ul > li.active > a:hover
{
    background:#84c350;
}

{
    background:#84c350 !important;
}

/*===== Font Color =====*/
.tb-br-cnt1 > li i,
.tb-br-cnt1 > li span,
.tb-br-cnt1 > li a:hover,
nav > div > ul > li > a:hover,
nav > div > ul > li > a:focus,
.fnd-rsc > h4 span,
.title-style1 > span,
.title-style1 > h4 i,
.hlp-cnt-inf1 > i,
.yr-dnt .btn1-drk:hover,
.title-style2 > span,
.title-style2 > h4 i,
.price,
.cate > a:hover,
.cause-info > h2 a:hover,
.sndr-nm,
.imptc-box > i,
.imptc-box > a,
.imptc-box > h2 a:hover,
.need-hlp > span,
.need-hlp > h4 span,
.cate > i,
.storie-info > h2 a:hover,
.title-style3 > h4 span,
.title-style3 > span,
.countdown > li > p,
.event-detail > h2 a:hover,
span.loc > i,
.pst-meta > li i,
.pst-meta > li a:hover,
span.date > i,
.news-meta .cause-cmt,
.news-detail > h2 a:hover,
.newslt-title > span,
.widget-title1 > i,
.rcnt-pst-inf > h2 a:hover,
footer .widget ul li:hover:before,
.widget ul li:hover > a,
.sidebar .widget ul li:hover > span,
.addr > i,
footer .widget ul li strong,
.copyright > span a,
.copyright > p a,
.page-title > h1,
.fltrs-lst li.selected a,
.fltrs-lst li:hover a,
.evnt-loc,
.widget-title2:before,
.event-box-mini > h2 a:hover,
.sidebar .rcnt-pst-inf > span,
.video-thumb > a,
.video-info > h2 a:hover,
.member-detail > h2 a:hover,
.member-detail > span,
.offic-name > a,
.offic-name > h2 a:hover,
.offic-info > a:hover,
.title-style4 > span,
.pst-meta > li.cmt,
.tagclouds > a,
.pst-author-detail > h2 a,
.author-social > li a,
.title > span,
.title > h4 span,
.comment-detail > h2 a:hover,
.comment-detail > span,
.blg-dtl h3 span,
.hlp-cnt > span,
.othr-inf > span i,
.mbr-cnt li a:hover,
.mbr-inf > i,
.title3 > span,
.caus-nm > h2 a:hover,
.rmv-dnt,
.donation-intro > h4 span,
.tb-br-scl2 > strong,
.tb-br-scl2 .scl-shr1 > li a:hover,
.pg-tl > span,
.bredcrumbs > li a:hover,
.srch-crt-lst > ul > li a:hover,
.cause-box1.style2 span.cate,
.feat-cap > i,
.feat-cap > h4,
.product-inf > h2 a:hover,
.prd-cate,
.fact-box > span,
.title-style5 > span,
.title-style5 > h4 span,
.cate.wt-clr > a,
.project-detail > h2 a:hover,
.tl-in > h2 a:hover,
.high-pti-bottom > p a,
.service-box > h2 a:hover,
.service-box > a,
.child-age,
.child-inf > h2 a:hover,
.title-style6 > h4 i,
.title-style6 > span,
.tl-in > h4 a:hover,
.title-style7 > span,
.title-style7 > h4 i,
.serv-bx > span,
.serv-bx > h2 a:hover,
.reviwrs-vdo > a:hover,
.projects-carousel2 .owl-nav > div:hover,
.tem-carousel .owl-nav > div:hover,
.brng-sc > h4 span,
.feat-cap2 > h4 span,
.feat-cap2 > p span,
.ft-serv-bx > i,
.ft-serv-bx > span,
.ftbx-tl > span,
.ft-serv-bx > h2 a:hover,
.hdr-cnt-bx > a, 
.hdr-cnt-bx > span,
.title-style9 > span,
.title-style9 > h4 i,
.srv-inf > h2 a:hover,
.title-style10 > strong span,
.title-style10 h4 i,
.prj3-sndr > span i,
.prj3-tl > h2 a:hover,
.spcl-tsk-inf > h4 i,
.title-icn > i,
.title-icn > span,
.title-icn > h4 i,
.title-style11 > h4 i,
.title-style11 > span,
.ev-tl > h4 i,
.ev-tl > span,
.evnt-detail > span,
.evnt-detail > h2 a:hover,
.volunteer-title > span,
.volunteer-title > h4 span,
.cnt-frm > h4 span,
.contact2-info a:hover,
blockquote.style2 > p span,
span.date > a:hover,
.pst-author.style2 .pst-author-detail > h2 a:hover,
.pst-author.style2 .author-social > li a:hover,
.dnrs-tl > span,
.dntr > h2 a:hover,
.dntr > span,
.carousel .owl-nav > div:hover,
.review-link:hover,
.prd-cates > span,
.prd-cates > a:hover,
.prd-dl:hover,
.prd-tl-inf > h2 a:hover,
.login-msg > p a,
.checkout-form p a,
.bl-tl > span,
.bl-tl > h4 span,
.prd-tlt > ul li i.price,
.contact3-dcp > h4 span,
.contact3-dcp > span,
.contact3-dcp > span:before,
.blg-mta.style2 span.cause-cmt,
.styld-lst > li::before,
.mor-abt > h4 span,
.prg-tl > h4 span,
.sprt-vt .pri-tl-in > span,
.dnt-gl > span,
.wdgt-tl > h4 i,
.wdgt-tl > span,
.ft3-abt .copyright > span a:hover, 
.ft3-abt .copyright > p a:hover,
.ftr-lnks > li a:hover,
.title5 > h4 i,
.title5 > span,
.thm-cl,
.cnt-frm-tl > h4 i,
.style5 .blg-mta > span,
.er-pg-inr > strong,
.er-pg-inr > span span,
.pg-srch-frm > button:hover,
.srch-fund-inr > strong span,
nav > div > ul > li ul li a:hover,
.pp-cls:hover,
.rs-mnu > ul li:hover > a,
.rs-mnu > ul li.active > a,
.clndr .fc-toolbar > div button:hover
{
    color:#84c350;
}


{
    color:#84c350 !important;
}

/*===== Border Color =====*/
.sidebar .widget ul li:hover > span,
.dnt-fgr-lst > li a.active:after
{
    border-color:#84c350;
}

/*===== Border Left Color =====*/
.product-thumb:before
{
    border-left-color: #84c350;
}

/*===== Border Right Color =====*/
.product-thumb.rev:before
{
    border-right-color: #84c350;
}

/*===== Border Top Color =====*/
.fnd-rsc
{
    border-top-color: #84c350;
}

/*===== Border Bottom Color =====*/

{
    border-bottom-color: #84c350;
}



